<div class="container">
  <h3 class="title">Parent Component</h3>
  <div class="row">
      <div class="card">
        <div class="card-body">
            {{randomno}}
        </div>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="title">Home</h3>
    <div class="row">
      <div class="col-sm-4 columnPan">
        <div class="card" style="height :30rem;">
          <div class="card-body">
              <app-left [subjectChild]="subjectParent" [data]="'data'" (userData)="getRandomNo($event)"></app-left>
          </div>
        </div>
      </div>

      <div class="col-sm-4 columnPan">
        <div class="card" style="height :30rem;">
          <div class="card-body">
              <app-middle></app-middle>
          </div>
        </div>
      </div>

      <div class="col-sm-4 columnPan">
        <div class="card" style="height :30rem;">
          <div class="card-body">
              <app-right></app-right>
          </div>
        </div>
      </div>
</div>


</div>
